[submodule "src/ext/ptex"]
	path = src/ext/ptex
	url = https://github.com/wdas/ptex.git
[submodule "src/ext/double-conversion"]
	path = src/ext/double-conversion
	url = https://github.com/mmp/double-conversion.git
[submodule "src/ext/stb"]
	path = src/ext/stb
	url = https://github.com/nothings/stb.git
[submodule "src/ext/openexr"]
	path = src/ext/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr
[submodule "src/ext/filesystem"]
	path = src/ext/filesystem
	url = https://github.com/wjakob/filesystem.git
[submodule "src/ext/openvdb"]
	path = src/ext/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
	branch = feature/nanovdb
[submodule "src/ext/libdeflate"]
	path = src/ext/libdeflate
	url = https://github.com/mmp/libdeflate.git
[submodule "src/ext/lodepng"]
	path = src/ext/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "src/ext/utf8proc"]
	path = src/ext/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "src/ext/qoi"]
	path = src/ext/qoi
	url = https://github.com/phoboslab/qoi.git
[submodule "src/ext/glfw"]
	path = src/ext/glfw
	url = https://github.com/glfw/glfw.git

[submodule "src/ext/zlib"]
	path = src/ext/zlib
	url = https://github.com/madler/zlib.git
