# Copyright (c) 2019-2025 The Khronos Group Inc.
# SPDX-License-Identifier: Apache-2.0

# Main azure-pipelines configuration for the OpenXR-SDK repo.

trigger:
  branches:
    include:
      - "*"
variables:
  VULKAN_SDK_VERSION: "1.1.114.0"

stages:
  - stage: Build
    jobs:
      - template: shared/build_jobs.yml
        parameters:
          isSdkSourceRepo: false
