# cmake
CMakeFiles/
.cmake/
*.dir/
*.tlog/
CMakeCache.txt
cmake_install.cmake
*.recipe

# make
Makefile

# VS
*.vcxproj*
*.sln
.vs/

# VS Code
.vscode/

# Shaders
*.dxbc
*.dxil
*.spirv
*.dxbc.h
*.dxil.h
*.spirv.h

# Library
*.lib
*.exp
*.dll
*.pdb
*.so
*.so.*
*.a

# except for third-party lib files
!/samples/third_party/**

# ninja
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
*.log

# packaged SDK
samples/build
samples/bin