name: gpu-build-only

on:
  push:
    paths-ignore:
      - '**.md'
      - 'images/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'images/**'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        optix: [ optix-7.5.0, optix-7.7.0, optix-8.0.0 ]
        cuda: [ '11.5.2', '11.6.1', '11.7.0', '12.1.0' ]  # 11.3.0 fails for unclear reasons
        os: [ ubuntu-20.04, windows-latest ]

    name: GPU Build Only (${{ matrix.os }}, CUDA ${{ matrix.cuda }}, ${{ matrix.optix }})

    runs-on: ${{ matrix.os }}

    steps:
    - uses: jimver/cuda-toolkit@v0.2.10
      id: cuda-toolkit
      with:
        cuda: ${{ matrix.cuda }}
        method: 'network'
        sub-packages: '[ "nvcc" ]'

    - name: Check NVCC
      run: nvcc -V

    - name: Checkout pbrt
      uses: actions/checkout@v3
      with:
        submodules: true

    - name: Checkout rgb2spectrum tables
      uses: actions/checkout@v3
      with:
        repository: mmp/rgb2spectrum
        path: build

    - name: Cache OptiX headers
      uses: actions/cache@v2
      with:
        path: optix
        key: optix-7.12345

    - name: Checkout OptiX headers
      uses: actions/checkout@v3
      with:
        ssh-key: ${{ secrets.CHECKOUT_KEY }}
        repository: mmp/optix-headers
        path: optix

    - name: Get cmake
      uses: lukka/get-cmake@latest

    - name: Install OpenEXR
      if: ${{ matrix.os == 'ubuntu-20.04' }}
      run: sudo apt-get -y install libopenexr-dev

    - name: Install OpenGL
      if: ${{ matrix.os == 'ubuntu-20.04' }}
      run: sudo apt-get install -y --no-install-recommends libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libxext-dev libxfixes-dev libgl1-mesa-dev

    - name: Configure
      run: |
        cd build
        cmake .. -DPBRT_USE_PREGENERATED_RGB_TO_SPECTRUM_TABLES=True -DPBRT_OPTIX7_PATH=../optix/${{ matrix.optix }} -DPBRT_GPU_SHADER_MODEL=sm_80

    - name: Build
      # We need to limit the number of jobs so that it doesn't OOM 
      run: cmake --build build --parallel 3 --config Release

    - name: Save Windows executable
      if: ${{ matrix.os == 'windows-latest' }}
      uses: actions/upload-artifact@v3
      with:
        name: pbrt.exe
        path: pbrt.exe


